body {
	width: 50%;
	margin: 5% auto;
	border: 10px solid #bdc3c7;
	padding: 2%;
	font-family: 'Source Sans Pro', sans-serif;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2 {
	color: #2c3e50;
	font-size: 2em;
}

.quote {
	border-left: 3px solid #bdc3c7;
	padding-left: 2%;
}

p {
	font-size: 20px;
}

hr {
	color: #f1f1f1;
	opacity: 0.5;
	margin: 4% 0;
}