* {
	margin: 0;
	padding: 0;
	font-family: 'Bungee', cursive;
}

body {
	background-color: #232323;
}

button {
	border: none;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	padding: 0 10px;
	transition: background-color 0.25s ease-out;
	color: cadetblue;
}

button:focus {
	outline: 0;
}

button:hover {
	background-color: cadetblue;
	color: white;
}

#container {
	max-width: 600px;
	margin: 50px auto;
}

.squares {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	margin: 1.66%;
	float: left;
	border-radius: 20px;
	transition: all 0.5s;
}

h1 {
	color: white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#stripe {
	margin: 0;
	padding: 50px;
	background-color: cadetblue;
}

#stripe p {
	color: white;
	text-align: center;
}

#buttons {
	margin: auto;
	background-color: white;
	display: flex;
	justify-content: space-around;
	height: 25px;
}

#message {
	align-self: center;
	color: cadetblue;
}

.active {
	background-color: cadetblue;
	color: white;
}